div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000;
    }
}

.manage-patient-container {
    .m-p-title {
        text-transform: uppercase;
        margin: 15px 0;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #0071ba;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
              
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            button {
                border: none;
                outline: none;
                cursor: pointer;
            }

            .mp-btn-confirm {
                margin-right: 10px;
                height: 30px;
                border-radius: 3px;
                background: orange;
            }

            .mp-btn-remedy {
                height: 30px;
                border-radius: 3px;
                background: #39dca0;
            }
              
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        }
    }
}