.manage-specialty-container {
    padding: 0 15px;

    .ms-title {
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        margin: 15px 0 10px;
        font-size: 20px;
        color: #0071ba;
    }

    .add-new-specialty {
        .btn-save-specialty {
            background: #0071ba;
            color: white;
            outline: none;
            border: none;
            border-radius: 4px;
            padding: 6px 8px;
            cursor: pointer;
        }
    }
}